<h1>Rigs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rigs.each do |rig| %>
      <tr>
        <td><%= rig.company.name %></td>
        <td><%= rig.number %></td>
        <td><%= link_to 'Show', rig_path(rig) %></td>
        <td><%= link_to 'Edit', edit_rig_path(rig) %></td>
        <td><%= link_to 'Destroy', rig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_rig_path %>
