<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @rig.company %>
</p>

<p>
  <strong>Number:</strong>
  <%= @rig.number %>
</p>

<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Back', rigs_path %>
